<% provide(:title, "Log in") %>

<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <div id="email">
          <%= f.label :email, :style => 'padding-right:25px'%>
          <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div id="email" style="padding-top:20px; padding-bottom:20px;">
          <%= f.label :password, :style => 'padding-right:3px'%>
          <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit "Log in", class: "btn btn-primary", :style => 'padding:5px'%>
    <% end %>
  </div>
</div>
