<h1>User Management</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Email</th>
    <th colspan="2">Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div>
	<%= button_to "Add User", new_user_path, :method => :get, :style => "float:left" %>
	<%= button_to "Home", welcome_index_path, :method => :get, :style => "float:right" %>
</div>
