<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div>
<%= button_to "Edit", edit_user_path(@user), :method => :get, :style => "float:left" %>
<%= button_to "Back", users_path, :method => :get, :style => "float:right" %>
</div>
