<div id="admin">

<h1>Dashboard</h1>

<div class="tasks">
  <img width="50" src="/Tasks.png">
  <tag><%=link_to "Check Out", :controller =>:checkouts, :action => :new %></tag>
</div>

<div class="tasks">
  <img width="50" src="/Tasks.png">
  <tag><%=link_to "Check In", :controller =>:checkouts, :action => :checkin %></tag>
</div>


<div class="admin">
<img width="50" src="/Admin.png">
<tag><%=link_to "User Management", :controller =>:users, :action => :index %></tag>
</div>


<div class="admin">
<img width="50" src="/Admin.png">
<tag><%=link_to "Manage Inventory", :controller =>:items, :action => :index %></tag>
</div>



<div class="reports">

 <img width="50" src="/Report.png">
  <tag><%=link_to "Generate Reports", :controller =>:students, :action => :index %></tag>
</div>


</div>
