<h1>Dashboard</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<li><%=link_to "User Management", :controller =>:users, :action => :index %></li>
<li><%=link_to "Manage Inventory", :controller =>:items, :action => :index %></li>
<li><%=link_to "Generate Reports", :controller =>:students, :action => :index %></li>
<li><%=link_to "Check Out", :controller =>:checkouts, :action => :index %></li>
<li><%=link_to "Check In", :controller =>:checkouts, :action => :index %></li>
<%= link_to("Login", CASClient::Frameworks::Rails::Filter.login_url(controller)) %>

