<script>
var item_count = <%= @items.present? ? @items.length : 0 %>;

function add_items_on_load() {
	// Prevent the fake row from actually being submitted
	$('#item_row').find('select, input').each(function() { $(this).attr('name', ''); });
}

function get_item_data(item_id) {
	var jsonItem = {};
	$.ajax({
	  url: '<%= items_path %>/' + item_id + '.json',
	  dataType: 'json',
	  async: false,
	  success: function(data) {
	    jsonItem = data;
	  }
	});
	/*$.getJSON( "<%= items_path %>/" + item_id + ".json", function( data ) {
		jsonItem = data;
	});*/
	return jsonItem;
}

function add_row(data) {
	var item_data = get_item_data(data);

	var ref = document.getElementById('item_tab');
	var $datetime = $('#item_row').clone(); // Clone the hidden row
	
	$datetime.find('input.item_name').attr('value', item_data.name);
	$datetime.find('input.item_id').attr('value', data);
	// Do some jquery magic to fix id's of datetime's selects
	$datetime.find('select').each(function() {
		var curr_id = $(this).attr('id');
		var id_parts = curr_id.split('_');
		$(this).attr('id', 'checkout_checked_out_items_attributes_' + item_count + '_startdate_' + id_parts[7]);
		$(this).attr('name', 'checkout[checked_out_items_attributes][' + item_count + '][startdate(' + id_parts[7] + ')]');
	});
	$datetime.find('input').each(function() {
		$(this).attr('id', 'checkout_checked_out_items_attributes_' + item_count + '_item_attributes_name');
		$(this).attr('name', 'checkout[checked_out_items_attributes][' + item_count + '][item_attributes][name]');
	});
	
	if(item_count == 0) {
		ref.deleteRow(0);	// Delete the "empty table" text
	}
	
	item_count++;
	ref.insertRow(ref.rows.length); 
	ref.rows[ref.rows.length-1].innerHTML = $datetime.html();
}

$(document).ready(function() {
	add_items_on_load()
});
</script>

<h1>Scan Items</h1>

<%= render 'qr' %>

<%= form_for @checkout, :url => {:controller => 'checkouts', :action => "review"} do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.fields_for :student, :include_id => false, builder: ComboboxFormBuilder do |s| %>
	  <div class="field" style="display:none">
	    <%= s.text_field(:firstname, :value => @checkout.student.present? ? @checkout.student.firstname : "", :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:lastname, :value =>@checkout.student.present? ? @checkout.student.lastname : "", :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:uin, :value => @checkout.student.present? ? @checkout.student.uin : "", :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:email, :value => @checkout.student.present? ? @checkout.student.email : "", :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:phonenumber, :value => @checkout.student.present? ? @checkout.student.phonenumber : "", :class => "student_info")%>
	  </div>
  <% end %>
  <div class="field">
  <table id="item_tab">
    <% if @items.present? %>
    	 #Stuff to print rows in table
    <% else %>
	    <tr>
	    	<td>No items scanned!</td>
	    </tr>
    <% end %>
    <%= f.fields_for :checked_out_items do |coi| %>
    	<tr id="item_row" style="display:none">
	    	<%= coi.fields_for :item do |i| %>
		  <td>
		    <%= i.label :name, "Item" %>
		    <%= i.text_field :id, :readonly => true, :style => "display:none", :class => "item_id" %>
		    <%= i.text_field :name, :readonly => true, :class => "item_name" %>
		  </td>
		<% end %>
		  <td style="display:none">
		    <%= coi.label :startdate, "Start Date"%><br />
		    <%= coi.datetime_select :startdate, ampm: true, :order => [:month, :day, :year], :minute_step => 15 %>
		  </td>
		  <td>
		    <%= coi.datetime_select :enddate, ampm: true, :order => [:month, :day, :year], :minute_step => 15 %>
		  </td>
	</tr>
    <% end %>
  </table>
  </div>
  <div class="actions">
    <%= f.submit "Finish"%>
  </div>
  <audio id="scanned" src=<%= asset_path('chime.wav') %> style="display:none" />
<% end %>
