<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.select :student_id, options_for_select(@students), :prompt => 'Select One' %>
  </div>
  <div class="field">
  <table id="item_tab">
    <tr>
      <td>
        <%= f.label :item_id %><br />
        <%= f.text_field :item_id %>
        <button type="button" onclick="load();">Scan</button>
      </td>
      <td>
        <%= f.label :startdate %><br />
        <%= f.datetime_select :startdate %>
      </td>
      <td>
        <%= f.label :enddate %><br />
        <%= f.datetime_select :enddate %>
      </td>
    </tr>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
