<script>
var item_row = "";

function add_row() {
	var ref = document.getElementById('item_tab'); 
	ref.insertRow(ref.rows.length-1); 
	ref.rows[ref.rows.length-2].innerHTML = item_row;
}

function find_index(name, value) {
	var list_title = '#' + name + '_list';
	var list = $(list_title)[0];

	for(var i = 0; i < list.options.length; i++) {
		if(list.options[i].value == value) {
			return i;
		}
	}
	return -1;
}

function gotSources(sourceInfos) {
  for (var i = 0; i != sourceInfos.length; ++i) {
    var sourceInfo = sourceInfos[i];
    var option = document.createElement("option");
    option.value = sourceInfo.id;
    //if (sourceInfo.kind === 'audio') {
    //  option.text = sourceInfo.label || 'microphone ' + (audioSelect.length + 1);
    //  audioSelect.appendChild(option);
    //} else 
    if (sourceInfo.kind === 'video') {
      option.text = sourceInfo.label || 'camera ' + (videoSelect.length + 1);
      videoSelect.appendChild(option);
    } else {
      console.log('Some other kind of source: ', sourceInfo);
    }
  }
}

$( document ).ready(function() {
    item_row = $('#item_tab tr')[0].innerHTML;
    $(".student_info").change(function () {
    	var index = find_index($(this).attr('id'), this.value);
    	$(".student_info").each(function () {
    		if(index == -1) return;
    		var list_title = '#' + $(this).attr('id') + '_list';
    		$(this).val($(list_title + ' option').eq(index).val());
	});
    });
    if (typeof MediaStreamTrack === 'undefined'){
	  alert('This browser does not support MediaStreamTrack.\n\nTry Chrome Canary.');
	} else {
	  MediaStreamTrack.getSources(gotSources);
	}
});
</script>

<%= form_for @checkout do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.fields_for :student, builder: ComboboxFormBuilder do |s| %>
	  <div class="field">
	    <%= s.label :firstname, 'First Name' %><br />
	    <%= s.combobox_tag(:firstname, options_for_select(@firstnames), :list_id => "firstname_list", :value => @checkout.student.present? ? @checkout.student.firstname : "", :class => "student_info")%>
	  </div>
	  <div class="field">
	    <%= s.label :lastname, 'Last Name' %><br />
	    <%= s.combobox_tag(:lastname, options_for_select(@lastnames), :list_id => "lastname_list", :value =>@checkout.student.present? ? @checkout.student.lastname : "", :class => "student_info")%>
	  </div>
	  <div class="field">
	    <%= s.label :uin, 'UIN' %><br />
	    <%= s.combobox_tag(:uin, options_for_select(@uins), :list_id => "uin_list", :value => @checkout.student.present? ? @checkout.student.uin : "", :class => "student_info")%>
	  </div>
	  <div class="field">
	    <%= s.label :email, 'Email' %><br />
	    <%= s.combobox_tag(:email, options_for_select(@emails), :list_id => "email_list", :value => @checkout.student.present? ? @checkout.student.email : "", :class => "student_info")%>
	  </div>
	  <div class="field">
	    <%= s.label :phonenumber, 'Phone Number' %><br />
	    <%= s.combobox_tag(:phonenumber, options_for_select(@phones), :list_id => "phonenumber_list", :value => @checkout.student.present? ? @checkout.student.phonenumber : "", :class => "student_info")%>
	  </div>
  <% end %>
  <div class="field">
  <table id="item_tab">
    <tr>
      <td>
        <%= f.label :item_id, "Item" %><br />
        <%= f.text_field :item_id, :readonly => true %>
        <button type="button" onclick="load(this.parentNode.parentNode.rowIndex);">Scan</button>
      </td>
      <!--<td>
        <%= f.label :startdate, "Start Date" %><br />
        <%= f.datetime_select :startdate, ampm: true, :order => [:month, :day, :year], :minute_step => 15 %>
      </td>-->
      <td>
        <%= f.label :enddate, "End Date"%><br />
        <%= f.datetime_select :enddate, ampm: true, :order => [:month, :day, :year], :minute_step => 15 %>
      </td>
    </tr>
    <tr><td><button type="button" onclick="add_row()">Add Item</button></td></tr>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <audio id="scanned" src=<%= asset_path('chime.wav') %> style="display:none" />
<% end %>
