<script>
var item_count = <%= @items.present? ? @items.length : 0 %>;
var item_row = '<%= text_field_tag "item_ids[]", "", :style => "display:none", :readonly => true, :class => "item_id" %>';

function get_item_data(item_id) {
	var jsonItem = {};
	$.ajax({
	  url: '<%= items_path %>/' + item_id + '.json',
	  dataType: 'json',
	  async: false,
	  success: function(data) {
	    jsonItem = data;
	  }
	});
	
	return jsonItem;
}

function add_row(data) {
	var item_data = get_item_data(data);
	if(item_data.name == undefined) {
		alert("Couldn't find item with ID: " + data + " in the system.");
		return;
	}

	var ref = document.getElementById('item_tab');
	if(item_count == 0) {
		ref.deleteRow(1);	// Delete the "empty table" text
	}
	item_count++;
	ref.insertRow(ref.rows.length); 
	ref.rows[ref.rows.length-1].innerHTML = '<tr><td style="display:none">' + item_row + '</td><td><input type="text" readonly value="' + item_data.name + '"></input></td></tr>';
	var insertedRow = ref.rows[ref.rows.length-1];
	$(insertedRow).find('.item_id').attr('value', data);
	document.getElementById('scanned').play();
}
</script>

<h1>Scan Items</h1>

<%= render 'qr' %>

<%= form_tag 'add_dates' do %>
  <%= render 'errors' %>
  <%= fields_for @student, builder: ComboboxFormBuilder do |s| %>
	  <div class="field" style="display:none">
	    <%= s.text_field(:firstname, :value => @student.firstname, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:lastname, :value => @student.lastname, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:uin, :value => @student.uin, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:email, :value => @student.email, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:phonenumber, :value => @student.phonenumber, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:id, :value => @student.id, :class => "student_info")%>
	  </div>
  <% end %>
  <div class="field">
  <table id="item_tab">
  	<tr><th>Item Name</th></tr>
  	<tr><td>No Items Scanned!</td></tr>
  </table>
  </div>
  <div class="actions">
    <%= submit_tag "Continue"%>
  </div>
  <audio id="scanned" src=<%= asset_path('chime.wav') %> style="display:none" />
<% end %>
