<h1>Add Return Date</h1>

<%= form_for @checkout, :url => {:controller => 'checkouts', :action => "review"} do |f| %>
  <%= f.fields_for :student, :include_id => false do |s| %>
	  <div class="field" style="display:none">
	    <%= s.text_field(:firstname, :value => @student.firstname, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:lastname, :value => @student.lastname, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:uin, :value => @student.uin, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:email, :value => @student.email, :class => "student_info")%>
	  </div>
	  <div class="field" style="display:none">
	    <%= s.text_field(:phonenumber, :value => @student.phonenumber, :class => "student_info")%>
	  </div>
  <% end %>
  <div class="field">
	  <table id="item_tab">
	  	<tr><th>Item</th><th>Return Date</th></tr>
	  	<%= f.fields_for :checkedout_items do |coi| %>
		  	<tr>
		  	<%= coi.fields_for :item do |i| %>
		  		<td><%= i.text_field :name, :readonly => true %></td>
		  	<% end %>
		  	<td><%= coi.datetime_select :enddate, ampm: true, :order => [:month, :day, :year], :minute_step => 15 %></td>
		  	</tr>
	  	<% end %>
	  </table>
  </div>
  <div class="actions">
    <%= submit_tag "Continue"%>
  </div>
<% end %>
