<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @checkout.student_id %>
</p>

<p>
  <b>Item:</b>
  <%= @checkout.item_id %>
</p>

<p>
  <b>Startdate:</b>
  <%= @checkout.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @checkout.enddate %>
</p>


<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
