<p id="notice"><%= notice %></p>
<p>
  <b>Student:</b>
  <%= @checkout.student.firstname + ' ' + @checkout.student.lastname %>
</p>

<p>
  <b>Status:</b>
  <%= @checkout.status %>
</p>

<p>
  <b>Items:</b>
  <table id="item_tab">
      <tr><th>Item Name</th><th>Return Date</th><th>Status</th></tr>
      <% @checkout.checkedout_items.each do |coi| %>
      	  <tr>
              <td><%= coi.item.name %></td>
              <td><%= coi.enddate %></td>
              <td><%= coi.status %></td>
          </tr>
      <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
