<p id="notice"><%= notice %></p>

<script>
function do_print() {
	var img = document.getElementById('item_qr');
	popup = window.open();
	popup.document.write(img.outerHTML);
	popup.print();
}
</script>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<img id='item_qr' src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%=@item.id%>'/>

<div>
<%= button_tag "Print", :type => 'button', :class => "printBtn", :onclick => "do_print()", :style => "float:left" %>
<%= button_to "Back", items_path, :method => :get, :style => "float:right" %>
</div>
