<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<img src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%=@item.id%>'/>

<%= button_tag "Print",:type => 'button',:class => "printBtn", :onclick => "" %>
<%= button_to "Back", items_path, :method => :get %>
