<table>
  <tr>
    <th>Equipment</th>
    <th>Student</th>
    <th>Checkout Date</th>
    <th>Return Date</th>
    <th colspan="2">Actions</th>
  </tr>

<% if @co_items.length > 0 %>
	<% @co_items.each do |coi| %>
	  <tr>
	    <td><%= coi.item.name %></td>
	    <td><%= coi.student.firstname + ' ' + coi.student.lastname %></td>
	    <td><%= coi.startdate %></td>
	    <td><%= coi.enddate %></td>
	    <td><%= link_to 'Show', checkouts_path + '/' + coi.checkout_id.to_s %></td>
	    <td><%= link_to 'Delete', checkouts_path + '/' + coi.checkout_id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% else %>
	<tr>
	    <td>No matching checkouts</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
<% end %>
</table>
