<table>
  <tr>
    <th>Equipment</th>
    <th>Student</th>
    <th>UIN</th>
    <th>Checkout Date</th>
    <th>Return Date</th>
    <th colspan="2">Actions</th>
  </tr>

<% if @checkouts.length > 0 %>
	<% @checkouts.each do |checkout| %>
	  <% checkout.checkedout_items.each do |coi| %>
		  <tr>
		    <td><%= coi.item.name %></td>
		    <td><%= checkout.student.firstname + ' ' + checkout.student.lastname %></td>
		    <td><%= checkout.student.uin %></td>
		    <td><%= coi.startdate %></td>
		    <td><%= coi.enddate %></td>
		    <td><%= link_to 'Show', checkout %></td>
		    <td><%= link_to 'Delete', checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
	  <% end %>
	<% end %>
<% else %>
	<tr>
	    <td>No matching checkouts</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
<% end %>
</table>
