<script>
function pad(n, width, z) {
	z = z || '0';
	n = n + '';
	return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
}

function do_by_return_date() {
	var $month = pad($('#returndate_report_2i').val(), 2);
	var $day = pad($('#returndate_report_3i').val(), 2);
	var $year = $('#returndate_report_1i').val();
	
	document.location.href = '<%= reports_path %>' + '/returndate/' + $month + '/' + $day + '/' + $year;
}

function do_by_checkout_date() {
	var $month = pad($('#checkoutdate_report_2i').val(), 2);
	var $day = pad($('#checkoutdate_report_3i').val(), 2);
	var $year = $('#checkoutdate_report_1i').val();
	
	pad($month, 2);
	pad($day, 2);
	
	document.location.href = '<%= reports_path %>' + '/checkoutdate/' + $month + '/' + $day + '/' + $year;
}

function do_by_student_uin() {
	var $student = $('#studentuin_report').val();
	
	document.location.href = '<%= reports_path %>' + '/student_uin/' + $student;
}

function do_by_student_name() {
	var $student_first = $('#studentfirstname_report').val();
	var $student_last = $('#studentlastname_report').val();
	
	document.location.href = '<%= reports_path %>' + '/student_name/' + $student_first + '/' + $student_last;
}
</script>

<div id="admin">
	<h1>Generate Reports</h1>

	<div class="tasks">
		<%=link_to reports_all_path, :style => "text-decoration:none" do %>
			<img width="50" src="Tasks.png">
			<tag>All Checked Out Items</tag>
		<% end %>
	</div>
	
	<div class="tasks">
		<img width="50" src="Tasks.png">
		<tag>By Checkout Date</tag>
		<div class="filter">
			<%= label("checkoutdate", "report", "Checkout Date") %></br>
		 	<%= date_select("checkoutdate", "report") %>
		 	<%= button_to_function "Go", "do_by_checkout_date()", class: "ok" %>
		</div>
	</div>
	
	<div class="tasks">
		<img width="50" src="Tasks.png">
		<tag>By Return Date</tag>
		<div class="filter">
			<%= label "returndate", "report", "Return Date" %></br>
			<%= date_select "returndate", "report" %>
			<%= button_to_function "Go", "do_by_return_date()", class: "ok" %>
		</div>
	</div>
	
	<div class="tasks">
		<img width="50" src="Tasks.png">
		<tag>By Student UIN</tag>
		<div class="filter">
			<%= label("studentuin", "report", "Student UIN") %></br>
			<%= text_field("studentuin", "report") %>
			<%= button_to_function "Go", "do_by_student_uin()", class: "ok" %>
		</div>
	</div>
	
	<div class="tasks">
		<img width="50" src="Tasks.png">
		<tag>By Student Name</tag>
		<div class="filter">
			<%= label("studentfirst", "report", "First Name") %></br>
			<%= text_field("studentfirstname", "report") %></br>
			<%= label("studentlast", "report", "Last Name") %></br>
			<%= text_field("studentlastname", "report") %>
			<%= button_to_function "Go", "do_by_student_name()", class: "ok" %>
		</div>
	</div>
</div>

