<!DOCTYPE html>
<html>
<head>
  <title>Viz APEX</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page" class="container">
  <div id="header">
    <div id="logo"><a href="http://www.tamu.edu/"><img src="/footer_logo.png" alt=""></a> <div class="headerDivider"></div>
          <tag>Viz APEX<br>System</tag>
    </div>  
  </div>


  <div id="menu-top">
  	<div>
  	<% if logged_in? %>
		<h1>Hello, <%= @current_user.firstname %></h1>
		<%= link_to "Log out", logout_path, method: "delete" %>
	<% end %>
	</div>
  </div>
<div class="span-19">
    <div id="content">
<%= yield %>
    </div>
</div>
</div>
</body>
</html>
